<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <div>
        <div style="display: flex;">
            <div>
                <h3>
                    Login
                </h3>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password">
                </div>
                <button id="loginBtn">Login</button>
            </div>
            <div style="margin-left: 1.5rem;">
                <h3>
                    Register
                </h3>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="usernameRegister">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="passwordRegister">
                </div>
                <button id="registerBtn">Register</button>
            </div>
        </div>

        <hr>

        <div>
            <h3>
                New pet
            </h3>
            <div>
                <label for="Name">Name:</label>
                <input type="text" id="addPetName">
            </div>
            <div>
                <label for="Description">Description:</label>
                <textarea id="addPetDescription"></textarea>
            </div>
            <div>
                <label for="Price">Price:</label>
                <input type="number" id="addPetPrice">
            </div>
            <div>
                <label for="Images">Image(s):</label>
                <input type="file" id="addPetImages" multiple accept="image/*">
            </div>
            <div>
                <label for="Category">Loài:</label>
                <select id="addPetCategory">
                    <option value="0"></option>
                </select>
            </div>
            <div>
                <label for="Subcategory">Loại:</label>
                <select id="addPetSubcategory"></select>
            </div>
            <input type="hidden" id="idUser">
            <button id="addPet">Add</button>
        </div>

        <hr>

        <div style="display: flex; flex-wrap:wrap; justify-content: space-around;">
            <div>
                <h3>Products</h3>
                <table style="border: 1px #000 solid;">
                    <thead>
                        <tr>
                            <th style="border: 1px #000 solid;">Product</th>
                            <th style="border: 1px #000 solid;">Price</th>
                            <th style="border: 1px #000 solid;">Quantity</th>
                            <th style="border: 1px #000 solid;">
                                <a href="javascript:void(0)">🛠</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="productTableContent">

                    </tbody>
                </table>
            </div>
            <div>
                <h3>Cart</h3>
                <table style="border: 1px #000 solid;">
                    <thead>
                        <tr>
                            <th style="border: 1px #000 solid;">Product</th>
                            <th style="border: 1px #000 solid;">Price</th>
                            <th style="border: 1px #000 solid;">Quantity</th>
                            <th style="border: 1px #000 solid;">
                                <a href="javascript:void(0)">🛠</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="cartTableContent">
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script>
        const api = 'http://localhost:3321/api/v1/'
        $("#loginBtn").click(() => {
            const username = $("#username").val();
            const password = $("#password").val();
            $.ajax({
                type: "POST",
                url: `${api}auth/login`,
                data: { username, password },
                success: (result) => {
                    if (result.status == "success") {
                        const user = result.data;
                        $("#idUser").val(user.id);
                        sessionStorage.setItem('aT', user.accessToken);
                        alert('success');
                        getCart()
                    } else {
                        alert(`Error: ${result.message}`);
                    }
                }
            });
        });

        $("#registerBtn").click(() => {
            const username = $("#usernameRegister").val();
            const password = $("#passwordRegister").val();
            $.ajax({
                type: "POST",
                url: `${api}auth/register`,
                data: { username, password },
                success: (result) => {
                    if (result.status == "success") {
                        alert('success');
                    } else {
                        alert(`Error: ${result.message}`);
                    }
                }
            });
        });
        getCategory();
        function getCategory() {
            $.ajax({
                url: `${api}category/`,
                success: (result) => {
                    if (result.status == "success") {
                        const category = result.data;
                        const list = $("#addPetCategory");
                        category.forEach((ele) => {
                            list.append(`
                                <option value="${ele._id}">
                                    ${ele.name}
                                </option>
                            `);
                        });
                    }
                }
            });
        }

        $("#addPetCategory").change(function () {
            const idCategory = $(this).val();
            $.ajax({
                url: `${api}category/${idCategory}`,
                success: (result) => {
                    if (result.status == "success") {
                        const subitems = result.data.subcategory;
                        const list = $("#addPetSubcategory");
                        list.html("");
                        subitems.forEach((ele) => {
                            list.append(`
                            <option value="${ele._id}">
                                ${ele.name}
                            </option>
                            `);
                        });
                    }
                }
            });

        });

        $("#addPet").click(() => {
            const formData = new FormData();
            const accessToken = sessionStorage.getItem('aT');
            const idUser = $("#idUser").val().trim();
            const name = $("#addPetName").val().trim();
            const price = $("#addPetPrice").val();
            const category = $("#addPetCategory").val();
            const subcategory = $("#addPetSubcategory").val();
            const description = $("#addPetDescription").val().trim();
            const images = $("#addPetImages")[0];
            if (accessToken) {
                if (name && price && category != 0 && subcategory && description) {
                    if (images.files.length > 0) {
                        formData.append("name", name);
                        formData.append("price", price);
                        formData.append("description", description);
                        formData.append("category", category);
                        formData.append("subcategory", subcategory);
                        formData.append("idUser", idUser);
                        for (let i = 0; i < images.files.length; i++) {
                            formData.append(`image_${i}`, images.files[i]);
                        }
                        $.ajax({
                            type: "POST",
                            url: `${api}pet/`,
                            headers: { Authorization: `Bearer ${accessToken}` },
                            data: formData,
                            processData: false,
                            contentType: false,
                            success: (result) => {
                                if (result.status == "success") {
                                    alert(`success`);
                                } else {
                                    alert(`${result.message}`);
                                }
                            }
                        });
                    } else {
                        alert(`Phải có ít nhất 1 ảnh`);
                    }
                } else {
                    alert(`Vui lòng điền đầy đủ thông tin`);
                }
            } else {
                alert(`Bạn chưa đăng nhập`);
            }
        });

        getProduct();
        function getProduct() {
            $.ajax({
                url: `${api}product/`,
                success: (result) => {
                    if (result.status == "success") {
                        const products = result.data;
                        const list = $("#productTableContent");
                        products.forEach((ele) => {
                            list.append(`
                            <tr>
                                <td style="border: 1px #000 solid;">
                                    ${ele.name}
                                </td>
                                <td style="border: 1px #000 solid;">
                                    ${ele.price}
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <input type="number" id="product-${ele._id}" min="1" value="1">
                                </td>
                                <td style="border: 1px #000 solid;">
                                    <a href="javascript:void(0)" onclick="addCart(this)"
                                        data-id="${ele._id}">Add cart</a>
                                </td>
                            </tr>
                            `);
                        });
                    }
                }
            });
        }

        function addCart(ele) {
            const idProduct = $(ele).attr("data-id");
            const quantity = $(`#product-${idProduct}`).val();
            const idUser = $("#idUser").val().trim();
            const accessToken = sessionStorage.getItem('aT');

            if (idUser) {
                $.ajax({
                    type: "POST",
                    url: `${api}cart/add`,
                    headers: {
                        Authorization: `Bearer ${accessToken}`,
                        'Access-Control-Allow-Origin': '*',
                        'Access-Control-Allow-Methods': 'GET,PUT,POST,DELETE,PATCH,OPTIONS'
                    },
                    data: { idUser, idProduct, quantity },
                    xhrFields: {
                        withCredentials: true
                    },
                    success: (result) => {
                        if (result.status == "success") {
                            const carts = result.data.products;
                            const list = $("#cartTableContent");
                            list.html('');
                            carts.forEach((ele) => {
                                list.append(`
                                <tr>
                                    <td style="border: 1px #000 solid;">
                                        ${ele.product.name}
                                    </td>
                                    <td style="border: 1px #000 solid;">
                                        ${ele.product.price}
                                    </td>
                                    <td style="border: 1px #000 solid;">
                                        <input type="number" id="uproduct-${ele.product._id}" min="1" value="${ele.quantity}">
                                    </td>
                                    <td style="border: 1px #000 solid;">
                                        <a href="javascript:void(0)" onclick="updateCart(this)"
                                            data-id="${ele.product._id}">Update cart</a>
                                    </td>
                                </tr>
                                `);
                            });
                        } else {
                            alert(`${result.message}`);
                        }
                    }
                });
            }
        }

        function getCart() {
            const idUser = $("#idUser").val().trim();
            const accessToken = sessionStorage.getItem('aT');
            $.ajax({
                type: "POST",
                url: `${api}cart/get`,
                headers: { Authorization: `Bearer ${accessToken}` },
                data: { idUser },
                xhrFields: {
                    withCredentials: true
                },
                success: (result) => {
                    if (result.status == "success") {
                        const carts = result.data.products;
                        const list = $("#cartTableContent");
                        carts.forEach((ele) => {
                            list.append(`
                                <tr>
                                    <td style="border: 1px #000 solid;">
                                        ${ele.product.name}
                                    </td>
                                    <td style="border: 1px #000 solid;">
                                        ${ele.product.price}
                                    </td>
                                    <td style="border: 1px #000 solid;">
                                        <input type="number" id="uproduct-${ele.product._id}" min="1" value="${ele.quantity}">
                                    </td>
                                    <td style="border: 1px #000 solid;">
                                        <a href="javascript:void(0)" onclick="updateCart(this)"
                                            data-id="${ele.product._id}">Update cart</a>
                                    </td>
                                </tr>
                                `);
                        });
                    } else {
                        alert(`${result.message}`);
                    }
                }
            });
        }

        function updateCart(ele) {
            const idProduct = $(ele).attr("data-id");
            const quantity = $(`#uproduct-${idProduct}`).val();
            const idUser = $("#idUser").val().trim();
            const accessToken = sessionStorage.getItem('aT');
            if (idUser) {
                $.ajax({
                    type: "POST",
                    url: `${api}cart/update`,
                    headers: { Authorization: `Bearer ${accessToken}` },
                    data: { idUser, idProduct, quantity },
                    success: (result) => {
                        if (result.status == "success") {
                            const carts = result.data.products;
                            const list = $("#cartTableContent");
                            list.html('');
                            carts.forEach((ele) => {
                                list.append(`
                                <tr>
                                    <td style="border: 1px #000 solid;">
                                        ${ele.product.name}
                                    </td>
                                    <td style="border: 1px #000 solid;">
                                        ${ele.product.price}
                                    </td>
                                    <td style="border: 1px #000 solid;">
                                        <input type="number" id="uproduct-${ele.product._id}" min="1" value="${ele.quantity}">
                                    </td>
                                    <td style="border: 1px #000 solid;">
                                        <a href="javascript:void(0)" onclick="updateCart(this)"
                                            data-id="${ele.product._id}">Update cart</a>
                                    </td>
                                </tr>
                                `);
                            });
                        } else {
                            alert(`${result.message}`);
                        }
                    }
                });
            }
        }


    </script>
</body>

</html>